/*!
 *  This file is part of the DITA Bootstrap plug-in for DITA Open Toolkit.
 *  See the accompanying LICENSE file for applicable licenses.
 */

/*! This value keeps the menubar-toc below the nav-bar
 */
.bs-menubar-toc.sticky-top {
  top: calc(var(--bs-navbar-min-height, 3.5rem) + 0px);
}

@media (min-width: 1024px) {
  .bs-sidebar,
  .bs-scrollspy {
    --bs-menubar-toc-offset: calc(2 * var(--bs-navbar-min-height, 3.5rem) + 2rem);
    top: var(--bs-menubar-toc-offset);
    height: calc(100vh - var(--bs-menubar-toc-offset) - 4rem);
  }
}

.nested0,
article h1 {
  scroll-margin-top: 11.25rem;
}

.nested1,
article h2,
article h3,
article h4,
article [tabindex='0'],
section {
  scroll-margin-top: calc(2 * var(--bs-navbar-min-height, 3.5rem) + 2rem);
  scroll-margin-bottom: 100px;
}
