html:root {
  --prism-maintext: var(--bs-fg-body);
  --prism-background: transparent;
  --prism-text: var(--bs-gray-500);
  --prism-keywords: var(--bs-teal-500);
  --prism-punctuation: var(--bs-gray-500);
  --prism-functions: var(--bs-orange-500);
  --prism-strings: var(--bs-green-500);
  --prism-namespace: var(--bs-pink-500);
  --prism-names: var(--bs-blue-500);
  --prism-symbol: var(--bs-red-500);
  --prism-url: var(--bs-cyan-500);
}

[data-bs-theme='dark'] {
  --prism-names: var(--dita-prussian-blue);
}

@media (prefers-color-scheme: dark) {
  :root {
    --prism-names: var(--dita-prussian-blue);
  }

  [data-bs-theme='light'] {
    --prism-names: var(--bs-blue-500);
  }
}
