html:root,
html:root[data-bs-theme] {
  --prism-maintext: light-dark(#657b83, #839496);
  --prism-background: light-dark(#eee8d5, #073642);
  --prism-text: #93a1a1;
  --prism-punctuation: #586e75;
  --prism-namespace: var(--prism-text);
  --prism-keywords: #859900;
  --prism-strings: #2aa198;
  --prism-symbol: #dc322f;
  --prism-type: #d33682;
  --prism-regex: #cb4b16;
  --prism-deleted: #dc322f;
  --prism-url: #6c71c4;
  --dita-prussian-blue: light-dark(var(--bs-primary-fg-emphasis), #6a91cf);
  --dita-violet: light-dark(var(--bs-accent-fg), #cc99cd);
  --dita-maroon: light-dark(var(--bs-danger-fg-emphasis), #ff7676);
}

.card:has(pre[class*="language-"]) {
  background-color: var(--prism-background);
}
