html:root,
html:root[data-bs-theme] {
  --prism-maintext: #839496;
  --prism-background: #073642;
  --prism-text: #93a1a1;
  --prism-punctuation: #586e75;
  --prism-namespace: var(--prism-text);
  --prism-keywords: #859900;
  --prism-strings: #2aa198;
  --prism-symbol: #dc322f;
  --prism-type: #d33682;
  --prism-regex: #cb4b16;
  --prism-deleted: #dc322f;
  --prism-url: #6c71c4;
  --dita-prussian-blue: #6a91cf;
  --dita-violet: #cc99cd;
  --dita-maroon: #ff7676;
}

.card:has(pre[class*="language-"]) {
  background-color: var(--prism-background);
}
